@use '@/shared/lib/tools/scss' as *;

body {
  @include fluid-text(16, 14);

  font-family: 'Work Sans', sans-serif;
  color: var(--text-color-dark);
  background-color: var(--bg-color);
  font-weight: 400;
}

//section {
//  &:not(:first-child) {
//    padding-top: fluid(100, 70);
//  }
//
//  &:last-child {
//    padding-bottom: fluid(100, 70);
//  }
//}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-dark);
  font-weight: 700;
  margin: 0;
}

h1 {
  @include fluid-text(60, 42);
}

h2 {
  @include fluid-text(50, 34);
}

h3 {
  @include fluid-text(24, 18);
}

p {
  --paragraphMarginBottom: #{rem(24)};
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a,
button {
  color: var(--text-color-dark);
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  border: none;

  &:disabled,
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:not(:disabled):not(.disabled) {
    @include hover {
      color: var(--hover-color);
    }
  }
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}