@use '@/shared/lib/tools/scss' as *;

:root {
  --bg-color: #FFFFFF;
  --bg-color-2: #FAFAFA;

  --text-color-light: #FFFFFF;
  --text-color-grey: #8A8A8A;
  --text-color-dark: #000000;

  --color-accent: #5937E0;
  --color-accent-2: #FF9E0C;

  --hover-color: var(--color-accent);
  --hover-color-2: var(--color-accent-2);
  --accent-hover-color: #3f1dc5;
  --accent-hover-color-2: #dc8506;

  --error-color: red;

  --transition-duration: 0.2s;

  --border: #{rem(1)} solid black;
  --border-radius: #{fluid(35, 25)};
  --border-radius-small: #{fluid(12.5, 10)};

  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

  --container-big-width: #{rem(1440)};
  --container-big-padding-x: #{fluid(100, 30)};

  --container-small-width: #{rem(1200)};
  --container-small-padding-x: #{fluid(70, 22.5)};
}