@use '@/shared/lib/tools/scss' as *;

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: fluid(30, 15);
}

.title {
  font-weight: 600;
}

.description {
  text-align: center;
}