@use '@/shared/lib/tools/scss' as *;

.image {
  opacity: 0.9;
  user-select: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 700px;
  height: auto;
  max-width: 60%;
  transform: translate(-25%, -25%);
  z-index: 0;

  @include tablet {
    display: none;
  }
}