@use '@/shared/lib/tools/scss' as *;

.factsInNumbers {
  padding-block: fluid(60, 40);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: fluid(40, 27.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('@/shared/assets/images/backgrounds/tire-track-2.webp');
  background-repeat: no-repeat;
}

.title {
  font-size: fluid(64, 40);
  line-height: 1;
}

.title,
.subtitle {
  z-index: 100;
}